@import "./layout/l-header";
@import "./layout/l-main";
@import "./layout/l-footer";

@import "config.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body,html{
    width: 100%;
    height: 100%;  
    background-color: white; 
}   

.web-layout {
    display: grid;
    grid-template-columns: 1fr 1080px 1fr;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
}

