
/* #configuraçoes */
@import "../config.scss";

$component-name:c-filter;

.#{$component-name}{
    border: none;
    &:not(:last-child){
        margin-bottom: 10px;
    }

    display: flex;
    flex-flow: column nowrap;
    
    &__leg{
        border-bottom: 1px solid gray;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }

    &__label{
        text-transform: capitalize;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}