.l-header {
  grid-area: header;
  height: 70px;
  background-color: red;
}
.l-header .l-header-v {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.l-header .l-header-v__logo {
  display: flex;
  align-items: center;
}
.l-header .l-header-v__logo-a {
  text-decoration: none;
  background-color: greenyellow;
  display: flex;
  flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.l-header .l-header-v__logo-a__text {
  font-size: 35px;
  color: black;
}
.l-header .l-header-v__nav {
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-header .l-header-v__nav__menu {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}
.l-header .l-header-v__nav__menu__item {
  background-color: yellow;
}
.l-header .l-header-v__nav__menu__item-a-1st {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}
.l-header .l-header-v__nav__menu__item-a-2nd {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}
.l-header .l-header-v__nav__menu__item-a-3rd {
  text-decoration: none;
  padding: 5px 0 5px 15px;
}
.l-header .l-header-v__nav__menu__item a:hover {
  color: orange;
}

.l-main__content {
  background-color: #f5daa7;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.l-main__content__order {
  padding-right: 33px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.l-main__content__order__wellcome {
  font-size: 30px;
}
.l-main__content__order__classificar label h2 {
  margin-bottom: 5px;
}
.l-main__content__order__classificar label select {
  margin-bottom: 10px;
}
.l-main__content-v {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 33px;
  border-radius: 10px;
  background-color: white;
  display: flex;
}
.l-main__content-v:not(:last-child) {
  margin-bottom: 30px;
}
.l-main__content-v__info {
  display: flex;
}
.l-main__content-v__info__logo {
  margin-right: 30px;
  border: none;
}
.l-main__content-v__info__logo img {
  border-radius: 50%;
}
.l-main__content-v__info__card {
  display: flex;
  flex-flow: column nowrap;
}
.l-main__content-v__info__card__title {
  margin-bottom: 15px;
}
.l-main__content-v__info__card__title__text {
  margin-bottom: 15px;
}
.l-main__content-v__info__card__title__tags {
  display: flex;
  flex-flow: row wrap;
}
.l-main__content-v__info__card__title__tags span a {
  text-decoration: none;
  color: blue;
  margin-right: 2px;
}
.l-main__content-v__info__card__title__tags span a:hover {
  color: #976200;
}
.l-main__content-v__info__card__title__tags span a:not(:last-child)::after {
  content: ",";
}
.l-main__content-v__info__card__ind {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}
.l-main__content-v__info__card__ind__item:not(:last-child) {
  margin-right: 10px;
}
.l-main__content-v__cta {
  display: flex;
  flex-flow: column nowrap;
}
.l-main__content-v__cta__menu {
  margin-bottom: 15px;
}
.l-main__content-v__cta__menu button {
  width: 135px;
  height: 30px;
  background-color: #009147;
  color: white;
  border: none;
  border-radius: 5px;
}
.l-main__content-v__cta__cupon {
  width: 135px;
  height: 30px;
}

.l-main__aside {
  background-color: #26f526;
  padding: 35px 30px 30px;
}
.l-main__aside__comment {
  margin-bottom: 30px;
}
.l-main__aside__comment-1st {
  margin-bottom: 10px;
  margin-right: 5px;
}
.l-main__aside__comment-2nd {
  margin-right: 5px;
}
.l-main__aside__search {
  text-align: center;
}
.l-main__aside__search label span {
  font-size: 20px;
  color: green;
}
.l-main__aside__search label input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.l-main__aside__filter__field {
  border: none;
  margin-bottom: 25px;
}
.l-main__aside__filter__field__title {
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.l-main__aside__filter__field__option:not(:last-child) {
  margin-bottom: 10px;
}

.l-main {
  background-color: #d8d3d3;
  grid-area: main;
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 30px;
  grid-template-areas: "c c";
}

.l-footer {
  background-color: green;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1080px;
  justify-content: center;
}
.l-footer__info {
  background-color: #009147;
  height: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.l-footer__info__f-logo {
  color: white;
}
.l-footer__info__f-logo-a {
  background-color: powderblue;
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
}
.l-footer__info__f-logo-a__text {
  font-size: 15px;
}
.l-footer__info__f-logo-a__icon .fa-utensils {
  font-size: 65px;
}
.l-footer__info__list {
  background-color: orange;
  margin: 30px 0 15px 0;
}
.l-footer__info__list ul {
  list-style: none;
}
.l-footer__info__list ul li:not(:last-child) {
  margin-bottom: 10px;
}
.l-footer__info__list ul li a {
  text-decoration: none;
  padding: 0 30px;
  background-color: pink;
}
.l-footer__info__list ul li a:hover {
  color: yellow;
}
.l-footer__info__social {
  color: white;
}
.l-footer__info__social__text {
  color: inherit;
  text-align: center;
}
.l-footer__info__social__icons {
  font-size: 50px;
}
.l-footer__info__social__icons span a {
  text-decoration: none;
  color: inherit;
}
.l-footer__info__social__icons span:hover {
  color: yellow;
}
.l-footer__info__app {
  color: white;
}
.l-footer__info__app__text {
  color: inherit;
  text-align: center;
}
.l-footer__info__app__icons {
  font-size: 50px;
}
.l-footer__info__app__icons span a {
  text-decoration: none;
  color: inherit;
}
.l-footer__info__app__icons span:hover {
  color: yellow;
}
.l-footer__copy {
  background-color: purple;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: white;
}

.web-layout {
  display: grid;
  grid-template-columns: 1fr 1080px 1fr;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
}

/*# sourceMappingURL=style.css.map */
