@charset "UTF-8";
/* #layout elements */
/* #configuraçoes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.l-header {
  grid-area: header;
  background-color: gray;
  height: 70px;
}
.l-header-v {
  height: 100%;
  background-color: #f34646;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (min-width: 1080px) {
  .l-header-v {
    width: 1080px;
    margin: 0 auto;
  }
}

/* #configuraçoes */
/* #componentes */
/* #configuraçoes */
.c-filter {
  border: none;
  display: flex;
  flex-flow: column nowrap;
}
.c-filter:not(:last-child) {
  margin-bottom: 10px;
}
.c-filter__leg {
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.c-filter__label {
  text-transform: capitalize;
}
.c-filter__label:not(:last-child) {
  margin-bottom: 10px;
}

/* #Fontes */
/* #configuraçoes */
.c-card {
  background-color: #f5f5df;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.c-card:not(:last-child) {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1080px) {
  .c-card {
    height: 160px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.c-card__logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.c-card__logo__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1080px) {
  .c-card__logo__img {
    align-self: center;
    margin-bottom: inherit;
  }
}
.c-card__content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1080px) {
  .c-card__content {
    align-items: flex-start;
  }
}
.c-card__content__identity {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1080px) {
  .c-card__content__identity {
    align-items: flex-start;
  }
}
.c-card__content__identity__title {
  text-align: center;
}
.c-card__content__identity__title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ff3b00;
}
@media only screen and (min-width: 1080px) {
  .c-card__content__identity__title {
    text-align: left;
  }
}
.c-card__content__identity__tags {
  margin-top: 15px;
  margin-bottom: 15px;
}
.c-card__content__identity__tags__list {
  display: flex;
  flex-flow: row wrap;
}
.c-card__content__identity__tags__list__item:not(:last-child) {
  margin-right: 5px;
}
.c-card__content__identity__tags__list__item a {
  border-radius: 6px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  background-color: gray;
}
.c-card__content__identity__tags__list__item a:hover {
  background-color: orange;
}
.c-card__content__icons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1080px) {
  .c-card__content__icons {
    flex-flow: row nowrap;
  }
}
.c-card__content__icons__icon {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.c-card__content__icons__icon:not(:last-child) {
  margin-bottom: 15px;
  margin-right: 0;
}
@media only screen and (min-width: 1080px) {
  .c-card__content__icons__icon:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1080px) {
  .c-card__content__icons__icon__item {
    font-size: 20px;
  }
}
.c-card__content__icons__icon__item.cupom {
  color: #f32121;
}
.c-card__content__icons__icon__txt.cupom {
  color: #f32121;
}
.c-card__cta {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "menu" "wish";
}
@media only screen and (min-width: 1080px) {
  .c-card__cta {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.c-card__cta__btn-wish {
  grid-area: wish;
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #fc1111;
}
.c-card__cta__btn-wish:active {
  transform: scale(0.95);
}
@media only screen and (min-width: 1080px) {
  .c-card__cta__btn-wish {
    height: 26px;
    margin-top: 0;
    margin-bottom: 12px;
  }
}
.c-card__cta__btn-menu {
  grid-area: menu;
}
.c-card__cta__btn-menu button {
  background-color: #d9534f;
  color: white;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 6px;
}
.c-card__cta__btn-menu button:hover {
  background-color: #a02622;
}
.c-card__cta__btn-menu button:active {
  background-color: #a02622;
  transform: scale(0.95);
}
.c-card.is-closed {
  pointer-events: none;
}
.c-card.is-closed::before {
  content: "Fechado";
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  width: 100%;
  height: 100%;
  font-size: 50px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.l-main {
  grid-area: main;
  display: grid;
  grid-template-areas: "aside" "content";
}
@media only screen and (min-width: 1080px) {
  .l-main {
    grid-template-columns: 250px 1fr;
    grid-template-rows: minmax(0, auto) 1fr;
    column-gap: 30px;
    grid-template-areas: "aside content" ".     content";
  }
}
.l-main__content {
  grid-area: content;
  /* c-filter here */
}
.l-main__aside {
  grid-area: aside;
  background-color: #f5f5df;
  border-radius: 10px;
  padding: 30px;
  max-height: 200px;
  margin-bottom: 20px;
  overflow: auto;
  /* c-filter here */
}
@media only screen and (min-width: 1080px) {
  .l-main__aside {
    max-height: inherit;
    margin-bottom: inherit;
  }
}

/* #configuraçoes */
.l-footer {
  grid-area: footer;
  background-color: #9a9a9a;
}
@media only screen and (min-width: 1080px) {
  .l-footer {
    height: 270px;
    display: grid;
    grid-template-columns: 1080px;
    justify-content: center;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "info" "copy";
  }
}
.l-footer__info {
  grid-area: info;
  background-color: #c0f374;
}
.l-footer__copy {
  grid-area: copy;
  background-color: #61cf61;
}

/* #configuraçoes */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

body, html {
  width: 100%;
  height: 100%;
}

.web-layout {
  display: grid;
  grid-template-areas: "header" "main  " "footer";
}
@media only screen and (min-width: 1080px) {
  .web-layout {
    grid-template-columns: 1fr 1080px 1fr;
    row-gap: 30px;
    grid-template-areas: "header header header" ".      main   .     " "footer footer footer";
  }
}

/*# sourceMappingURL=style.css.map */
