
/* #configuraçoes */
@import "../config.scss";

$layout-name: l-footer;

.#{$layout-name} {
    grid-area: footer;

    background-color: lighten($color: gray, $amount: 10);
    
    @include breakpoint(desk){
        height: 270px;
        display: grid;
        grid-template-columns: $desk;
        justify-content: center;
        grid-template-rows: 70px 1fr;
        grid-template-areas: 
        "info"
        "copy"
        ;
    }
    &__info{
        grid-area: info;
        background-color: rgb(192, 243, 116);
    }

    &__copy{
        grid-area: copy;
        background-color: rgb(97, 207, 97);
    }
}