
/* #configuraçoes */
@import "../config.scss";

/* #componentes */
@import "../components/c-about";

$layout-name: l-footer;

.#{$layout-name} {
    grid-area: footer;

    &__info{
        background-color: lighten($color: purple, $amount: 7);
        &-v{
           @include breakpoint (desk){
            width: $desk;
            margin: 0 auto;
            padding: 20px 0;
           }
        
        }
    }
    &__copy{
        background-color: darken($color: purple, $amount: 7);

        &-v{

            color: rgba($color: white, $alpha: .5);
            font-size: 20px;
            padding: 10px 0; 

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            @include breakpoint (desk){
                width: $desk;
                margin: 0 auto;
            }

            &__txt {
                &__1{}

                &__2{
                    @media only screen and (max-width:1079px){
                        display: none;
                    }
                    
                }
            }
            &__CNPJ {
                @media only screen and (max-width:1079px){
                    display: none;
                }
            }


        }
    }
    
}