
/* #configuraçoes */
@import "../config.scss";

/* #componentes */
@import "../components/c-about";

$layout-name: l-footer;

.#{$layout-name} {
    grid-area: footer;

    
    @include breakpoint(desk){
        height: 270px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-template-rows: 1fr 30px;
        grid-template-areas: 
        "info"
        "copy"
        ;

        @include breakpoint (desk){
            grid-template-rows: 1fr 70px;
        }
    }
    &__info{
        grid-area: info;
        background-color: #009147;
    }

    &__copy{
        grid-area: copy;
        background-color: #006934;;
        color: rgba($color: white, $alpha: .5);
        font-size: 20px;
        

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items : center;

        @include breakpoint(desk){
            height: none;
        }

        &__txt {

            &__1{
                font-size: 18px;
                font-family: 'Roboto' sans-serif;
            }
            &__2{
                font-size: 20px;

                @media only screen and (max-width:1079px){
                    display: none;
                }
            }
        }

        &__CNPJ {
            @media only screen and (max-width:1079px){
                display: none;
            }
        }

        
    }
}