
/* #configuraçoes */
@import "../config.scss";

/* #componentes */
@import "../components/c-logo";
@import "../components/c-nav";

$layout-name: l-header;

.#{$layout-name} {
    grid-area: header;

    background-color: rgb(243, 70, 70);
    height: 70px;

    &-v{
        height: 100%;
        background-color: inherit;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(desk){
            width: $desk;
            margin: 0 auto;
        }
       
    }
}