
/* #configuraçoes */
@import "../config.scss";

$layout-name: l-header;

.#{$layout-name} {
    grid-area: header;

    background-color: gray;
    height: 70px;

    &-v{
        height: 100%;
        background-color: rgb(243, 70, 70);

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        @include breakpoint(desk){
            width: $desk;
            margin: 0 auto;
        }
       
    }
}